In [1]:
import pandas as pd
import datetime as dt
import numpy as np

%matplotlib inline

In [2]:
date_parser = lambda x: dt.datetime.strptime(x[0:16], '%d.%m.%Y %H:%M')

In [3]:
data_raw1 = pd.read_csv('./raw_data/Total Load - Day Ahead Forecast - Actual_201501010000-201601010000.csv',
                        index_col=0, date_parser=date_parser)

data_raw2 = pd.read_csv('./raw_data/Total Load - Day Ahead Forecast- Actual_201601010000-201701010000.csv',
                        index_col=0, date_parser=date_parser)

data_raw3 = pd.read_csv('./raw_data/Total Load - Day Ahead Forecast - Actual_201701010000-201801010000.csv',
                        index_col=0, date_parser=date_parser)


data_raw1_f = pd.read_csv('./raw_data/Generation Forecasts - Day Ahead for Wind and Solar_201501010000-201601010000.csv',
                        index_col=0, date_parser=date_parser)

data_raw2_f = pd.read_csv('./raw_data/Generation Forecasts - Day Ahead for Wind and Solar_201601010000-201701010000.csv',
                        index_col=0, date_parser=date_parser)

data_raw3_f = pd.read_csv('./raw_data/Generation Forecasts - Day Ahead for Wind and Solar_201701010000-201801010000.csv',
                        index_col=0, date_parser=date_parser)

# data_raw_forecast = pd.concat([data_raw1, data_raw2, data_raw3, data_raw1_f, data_raw2_f, data_raw3_f])

In [55]:
data_raw_load=pd.concat([data_raw1, data_raw2, data_raw3])
data_raw_forecast = pd.concat([data_raw1_f, data_raw2_f, data_raw3_f])

In [57]:
data_raw = pd.concat([data_raw_load, data_raw_forecast], axis=1)

In [59]:
data_raw = data_raw.replace(['-', 'n/e'], np.NaN).dropna(how='all')

In [60]:
data_raw.columns

Index(['Day-ahead Total Load Forecast [MW] - BZN|DE-AT-LU',
       'Actual Total Load [MW] - BZN|DE-AT-LU',
       'Generation - Sum [MW] (D) / BZN|DE-AT-LU',
       'Generation - Solar  [MW] (D) / BZN|DE-AT-LU',
       'Generation - Wind Offshore  [MW] (D) / BZN|DE-AT-LU',
       'Generation - Wind Onshore  [MW] (D) / BZN|DE-AT-LU'],
      dtype='object')

In [61]:
# ['Day-ahead Total Load Forecast [MW] - BZN|DE-AT-LU']
data = pd.DataFrame(data_raw.astype(float))

data.columns = ['load_forecast', 'load_true', 'sum_forecast', 'solar_forecast', 'offshore_forecast', 'onshore_forecast']

In [62]:
data[:'2017-08-30']

,load_forecast,load_true,sum_forecast,solar_forecast,offshore_forecast,onshore_forecast
2015-01-01 00:00:00,50137.0,49025.0,8104.0,0.0,601.0,7503.0
2015-01-01 00:15:00,49545.0,48534.0,8187.0,0.0,599.0,7588.0
2015-01-01 00:30:00,49067.0,48548.0,8280.0,0.0,599.0,7681.0
2015-01-01 00:45:00,48476.0,48249.0,8363.0,0.0,598.0,7765.0
2015-01-01 01:00:00,47452.0,47658.0,8655.0,0.0,599.0,8056.0
2015-01-01 01:15:00,47264.0,47184.0,8724.0,0.0,598.0,8126.0
2015-01-01 01:30:00,46722.0,46797.0,8801.0,0.0,598.0,8203.0
2015-01-01 01:45:00,46372.0,46490.0,8860.0,0.0,598.0,8262.0
2015-01-01 02:00:00,45985.0,46101.0,8888.0,0.0,598.0,8290.0
2015-01-01 02:15:00,45792.0,45832.0,8921.0,0.0,599.0,8322.0
2015-01-01 02:30:00,45728.0,45508.0,8932.0,0.0,600.0,8332.0
2015-01-01 02:45:00,45501.0,45035.0,8956.0,0.0,601.0,8355.0
2015-01-01 03:00:00,45473.0,44655.0,8972.0,0.0,602.0,8370.0
2015-01-01 03:15:00,45262.0,44378.0,9030.0,0.0,603.0,8427.0
2015-01-01 03:30:00,45232.0,43981.0,9067.0,0.0,604.0,8463.0
2015-01-01 03:45:00,45258.0,44001.0,9107.0,0.0,606.0,8501.0
2015-01-01 04:00:00,45331.0,43962.0,9141.0,0.0,603.0,8538.0
2015-01-01 04:15:00,45264.0,43789.0,9195.0,0.0,603.0,8592.0
2015-01-01 04:30:00,45490.0,43705.0,9257.0,0.0,607.0,8650.0
2015-01-01 04:45:00,45607.0,43606.0,9313.0,0.0,608.0,8705.0
2015-01-01 05:00:00,45783.0,43891.0,9364.0,0.0,610.0,8754.0
2015-01-01 05:15:00,45783.0,43693.0,9417.0,0.0,610.0,8807.0
2015-01-01 05:30:00,45737.0,43488.0,9466.0,0.0,612.0,8854.0
2015-01-01 05:45:00,45503.0,43286.0,9501.0,0.0,613.0,8888.0
2015-01-01 06:00:00,44242.0,43108.0,9584.0,0.0,613.0,8971.0
2015-01-01 06:15:00,43452.0,43511.0,9655.0,0.0,613.0,9042.0
2015-01-01 06:30:00,43979.0,44081.0,9738.0,0.0,614.0,9124.0
2015-01-01 06:45:00,44630.0,44481.0,9830.0,0.0,614.0,9216.0
2015-01-01 07:00:00,46213.0,44943.0,9916.0,0.0,615.0,9301.0
2015-01-01 07:15:00,47594.0,45134.0,10019.0,0.0,615.0,9404.0
...,...,...,...,...,...,...
2017-08-30 16:30:00,68478.0,71519.0,21246.0,13182.0,1234.0,6830.0
2017-08-30 16:45:00,67924.0,70954.0,20111.0,11961.0,1258.0,6892.0
2017-08-30 17:00:00,67762.0,70852.0,18918.0,10666.0,1288.0,6964.0
2017-08-30 17:15:00,67398.0,70716.0,17664.0,9320.0,1308.0,7036.0
2017-08-30 17:30:00,67321.0,70669.0,16396.0,7955.0,1333.0,7108.0
2017-08-30 17:45:00,67294.0,70565.0,15153.0,6601.0,1353.0,7199.0
2017-08-30 18:00:00,66841.0,70049.0,14023.0,5325.0,1382.0,7316.0
2017-08-30 18:15:00,66759.0,69511.0,13065.0,4159.0,1414.0,7492.0
2017-08-30 18:30:00,66747.0,69413.0,12204.0,3084.0,1439.0,7681.0
2017-08-30 18:45:00,66907.0,69016.0,11482.0,2117.0,1467.0,7898.0
2017-08-30 19:00:00,66809.0,68307.0,10928.0,1309.0,1497.0,8122.0
2017-08-30 19:15:00,66314.0,68213.0,10673.0,781.0,1526.0,8366.0
2017-08-30 19:30:00,66251.0,68123.0,10583.0,433.0,1554.0,8596.0
2017-08-30 19:45:00,66143.0,67754.0,10555.0,171.0,1580.0,8804.0
2017-08-30 20:00:00,65594.0,67203.0,10636.0,44.0,1607.0,8985.0
2017-08-30 20:15:00,65498.0,67342.0,10749.0,15.0,1624.0,9110.0
2017-08-30 20:30:00,65129.0,67324.0,10901.0,8.0,1642.0,9251.0
2017-08-30 20:45:00,64816.0,66431.0,11063.0,2.0,1662.0,9399.0
2017-08-30 21:00:00,63519.0,65113.0,11210.0,0.0,1674.0,9536.0
2017-08-30 21:15:00,62769.0,63956.0,11274.0,0.0,1694.0,9580.0
2017-08-30 21:30:00,61696.0,62710.0,11334.0,0.0,1715.0,9619.0
2017-08-30 21:45:00,60659.0,61921.0,11384.0,0.0,1734.0,9650.0
2017-08-30 22:00:00,59786.0,61088.0,11418.0,0.0,1757.0,9661.0
2017-08-30 22:15:00,59027.0,59906.0,11406.0,0.0,1757.0,9649.0
2017-08-30 22:30:00,57837.0,58171.0,11397.0,0.0,1756.0,9641.0
2017-08-30 22:45:00,56592.0,57127.0,11384.0,0.0,1756.0,9628.0
2017-08-30 23:00:00,55007.0,55707.0,11343.0,0.0,1755.0,9588.0
2017-08-30 23:15:00,54064.0,54536.0,11207.0,0.0,1743.0,9464.0
2017-08-30 23:30:00,53090.0,53970.0,11069.0,0.0,1734.0,9335.0
2017-08-30 23:45:00,52370.0,53489.0,10931.0,0.0,1724.0,9207.0

In [63]:
data[:'2017-08-30'].to_csv('./processed_data/20150101-20170830-forecast_load_renewable_gen.csv')

In [16]:
gen = pd.read_csv('./processed_data/20150101-20170830-gen_per_prod_type.csv', parse_dates=True, index_col=0)
forecast = pd.read_csv('./processed_data/20150101-20170830-forecast_load_renewable_gen.csv', parse_dates=True, index_col=0)

In [17]:
gen.head()

,biomass,brown_coal,hard_coal,wind_offshore,pumped_hydro,solar,river_hydro,wind_onshore,nuclear,other
MTU,,,,,,,,,,
2015-01-01 00:00:00,4300.0,15905.0,2760.0,520.0,708.0,0.0,2689.0,8177.0,10742.0,4889.0
2015-01-01 00:15:00,4305.0,15853.0,2900.0,517.0,576.0,0.0,2672.0,8153.0,10585.0,4803.0
2015-01-01 00:30:00,4304.0,15699.0,2798.0,514.0,607.0,0.0,2662.0,8226.0,10643.0,4869.0
2015-01-01 00:45:00,4299.0,15487.0,2673.0,515.0,285.0,0.0,2656.0,8217.0,10872.0,4851.0
2015-01-01 01:00:00,4269.0,15596.0,2096.0,515.0,269.0,0.0,2622.0,8257.0,11089.0,4782.0

In [25]:
forecast.head(n=100)

,load_forecast,load_true,solar_forecast,sum_forecast,offshore_forecast,onshore_forecast
2015-01-01 00:00:00,49025.0,50137.0,NaN,NaN,NaN,NaN
2015-01-01 00:15:00,48534.0,49545.0,NaN,NaN,NaN,NaN
2015-01-01 00:30:00,48548.0,49067.0,NaN,NaN,NaN,NaN
2015-01-01 00:45:00,48249.0,48476.0,NaN,NaN,NaN,NaN
2015-01-01 01:00:00,47658.0,47452.0,NaN,NaN,NaN,NaN
2015-01-01 01:15:00,47184.0,47264.0,NaN,NaN,NaN,NaN
2015-01-01 01:30:00,46797.0,46722.0,NaN,NaN,NaN,NaN
2015-01-01 01:45:00,46490.0,46372.0,NaN,NaN,NaN,NaN
2015-01-01 02:00:00,46101.0,45985.0,NaN,NaN,NaN,NaN
2015-01-01 02:15:00,45832.0,45792.0,NaN,NaN,NaN,NaN
2015-01-01 02:30:00,45508.0,45728.0,NaN,NaN,NaN,NaN
2015-01-01 02:45:00,45035.0,45501.0,NaN,NaN,NaN,NaN
2015-01-01 03:00:00,44655.0,45473.0,NaN,NaN,NaN,NaN
2015-01-01 03:15:00,44378.0,45262.0,NaN,NaN,NaN,NaN
2015-01-01 03:30:00,43981.0,45232.0,NaN,NaN,NaN,NaN
2015-01-01 03:45:00,44001.0,45258.0,NaN,NaN,NaN,NaN
2015-01-01 04:00:00,43962.0,45331.0,NaN,NaN,NaN,NaN
2015-01-01 04:15:00,43789.0,45264.0,NaN,NaN,NaN,NaN
2015-01-01 04:30:00,43705.0,45490.0,NaN,NaN,NaN,NaN
2015-01-01 04:45:00,43606.0,45607.0,NaN,NaN,NaN,NaN
2015-01-01 05:00:00,43891.0,45783.0,NaN,NaN,NaN,NaN
2015-01-01 05:15:00,43693.0,45783.0,NaN,NaN,NaN,NaN
2015-01-01 05:30:00,43488.0,45737.0,NaN,NaN,NaN,NaN
2015-01-01 05:45:00,43286.0,45503.0,NaN,NaN,NaN,NaN
2015-01-01 06:00:00,43108.0,44242.0,NaN,NaN,NaN,NaN
2015-01-01 06:15:00,43511.0,43452.0,NaN,NaN,NaN,NaN
2015-01-01 06:30:00,44081.0,43979.0,NaN,NaN,NaN,NaN
2015-01-01 06:45:00,44481.0,44630.0,NaN,NaN,NaN,NaN
2015-01-01 07:00:00,44943.0,46213.0,NaN,NaN,NaN,NaN
2015-01-01 07:15:00,45134.0,47594.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
2015-01-01 17:30:00,59063.0,60885.0,NaN,NaN,NaN,NaN
2015-01-01 17:45:00,59008.0,61063.0,NaN,NaN,NaN,NaN
2015-01-01 18:00:00,58803.0,61475.0,NaN,NaN,NaN,NaN
2015-01-01 18:15:00,58519.0,61549.0,NaN,NaN,NaN,NaN
2015-01-01 18:30:00,58229.0,61500.0,NaN,NaN,NaN,NaN
2015-01-01 18:45:00,57826.0,61217.0,NaN,NaN,NaN,NaN
2015-01-01 19:00:00,57943.0,61071.0,NaN,NaN,NaN,NaN
2015-01-01 19:15:00,57860.0,60715.0,NaN,NaN,NaN,NaN
2015-01-01 19:30:00,57163.0,60306.0,NaN,NaN,NaN,NaN
2015-01-01 19:45:00,56122.0,59631.0,NaN,NaN,NaN,NaN
2015-01-01 20:00:00,55367.0,58893.0,NaN,NaN,NaN,NaN
2015-01-01 20:15:00,54595.0,57931.0,NaN,NaN,NaN,NaN
2015-01-01 20:30:00,53758.0,57047.0,NaN,NaN,NaN,NaN
2015-01-01 20:45:00,52772.0,56404.0,NaN,NaN,NaN,NaN
2015-01-01 21:00:00,52239.0,56317.0,NaN,NaN,NaN,NaN
2015-01-01 21:15:00,51966.0,56030.0,NaN,NaN,NaN,NaN
2015-01-01 21:30:00,51374.0,54627.0,NaN,NaN,NaN,NaN
2015-01-01 21:45:00,51605.0,54605.0,NaN,NaN,NaN,NaN
2015-01-01 22:00:00,57096.0,55582.0,NaN,NaN,NaN,NaN
2015-01-01 22:15:00,56446.0,55255.0,NaN,NaN,NaN,NaN
2015-01-01 22:30:00,55596.0,55505.0,NaN,NaN,NaN,NaN
2015-01-01 22:45:00,54923.0,54628.0,NaN,NaN,NaN,NaN
2015-01-01 23:00:00,54335.0,54016.0,NaN,NaN,NaN,NaN
2015-01-01 23:15:00,53079.0,53275.0,NaN,NaN,NaN,NaN
2015-01-01 23:30:00,52138.0,51354.0,NaN,NaN,NaN,NaN
2015-01-01 23:45:00,51447.0,49892.0,NaN,NaN,NaN,NaN
2015-01-02 00:00:00,49857.0,48143.0,NaN,NaN,NaN,NaN
2015-01-02 00:15:00,49722.0,45927.0,NaN,NaN,NaN,NaN
2015-01-02 00:30:00,48679.0,47127.0,NaN,NaN,NaN,NaN
2015-01-02 00:45:00,48452.0,46637.0,NaN,NaN,NaN,NaN

In [40]:
data = pd.concat([gen, forecast])

In [32]:
data = data.resample('1H', limit=10).mean()

In [41]:
data

,biomass,brown_coal,hard_coal,load_forecast,load_true,nuclear,offshore_forecast,onshore_forecast,other,pumped_hydro,river_hydro,solar,solar_forecast,sum_forecast,wind_offshore,wind_onshore
2015-01-01 00:00:00,4300.0,15905.0,2760.0,NaN,NaN,10742.0,NaN,NaN,4889.0,708.0,2689.0,0.0,NaN,NaN,520.0,8177.0
2015-01-01 00:15:00,4305.0,15853.0,2900.0,NaN,NaN,10585.0,NaN,NaN,4803.0,576.0,2672.0,0.0,NaN,NaN,517.0,8153.0
2015-01-01 00:30:00,4304.0,15699.0,2798.0,NaN,NaN,10643.0,NaN,NaN,4869.0,607.0,2662.0,0.0,NaN,NaN,514.0,8226.0
2015-01-01 00:45:00,4299.0,15487.0,2673.0,NaN,NaN,10872.0,NaN,NaN,4851.0,285.0,2656.0,0.0,NaN,NaN,515.0,8217.0
2015-01-01 01:00:00,4269.0,15596.0,2096.0,NaN,NaN,11089.0,NaN,NaN,4782.0,269.0,2622.0,0.0,NaN,NaN,515.0,8257.0
2015-01-01 01:15:00,4258.0,15565.0,1875.0,NaN,NaN,11101.0,NaN,NaN,4681.0,426.0,2618.0,0.0,NaN,NaN,517.0,8371.0
2015-01-01 01:30:00,4256.0,15282.0,1872.0,NaN,NaN,11097.0,NaN,NaN,4669.0,498.0,2616.0,0.0,NaN,NaN,517.0,8367.0
2015-01-01 01:45:00,4261.0,15016.0,1876.0,NaN,NaN,11058.0,NaN,NaN,4842.0,445.0,2612.0,0.0,NaN,NaN,516.0,8475.0
2015-01-01 02:00:00,4284.0,15098.0,1811.0,NaN,NaN,11096.0,NaN,NaN,4860.0,668.0,2599.0,0.0,NaN,NaN,516.0,8600.0
2015-01-01 02:15:00,4298.0,14948.0,1805.0,NaN,NaN,11053.0,NaN,NaN,4819.0,692.0,2579.0,0.0,NaN,NaN,516.0,8597.0
2015-01-01 02:30:00,4297.0,14789.0,1810.0,NaN,NaN,10999.0,NaN,NaN,4829.0,572.0,2571.0,0.0,NaN,NaN,513.0,8580.0
2015-01-01 02:45:00,4303.0,14576.0,1870.0,NaN,NaN,10957.0,NaN,NaN,4838.0,599.0,2566.0,0.0,NaN,NaN,511.0,8639.0
2015-01-01 03:00:00,4306.0,14296.0,1948.0,NaN,NaN,11037.0,NaN,NaN,5013.0,546.0,2548.0,0.0,NaN,NaN,514.0,8665.0
2015-01-01 03:15:00,4315.0,14105.0,1967.0,NaN,NaN,11021.0,NaN,NaN,4909.0,557.0,2544.0,0.0,NaN,NaN,519.0,8567.0
2015-01-01 03:30:00,4315.0,14020.0,1966.0,NaN,NaN,11043.0,NaN,NaN,4838.0,550.0,2546.0,0.0,NaN,NaN,519.0,8551.0
2015-01-01 03:45:00,4319.0,14023.0,1955.0,NaN,NaN,11010.0,NaN,NaN,4601.0,580.0,2543.0,0.0,NaN,NaN,519.0,8685.0
2015-01-01 04:00:00,4314.0,14161.0,1892.0,NaN,NaN,11066.0,NaN,NaN,4725.0,569.0,2555.0,0.0,NaN,NaN,519.0,8799.0
2015-01-01 04:15:00,4307.0,14191.0,2072.0,NaN,NaN,11004.0,NaN,NaN,4736.0,565.0,2557.0,0.0,NaN,NaN,519.0,8789.0
2015-01-01 04:30:00,4308.0,14146.0,2064.0,NaN,NaN,10945.0,NaN,NaN,4867.0,615.0,2560.0,0.0,NaN,NaN,521.0,8663.0
2015-01-01 04:45:00,4305.0,14098.0,2021.0,NaN,NaN,10834.0,NaN,NaN,4955.0,662.0,2559.0,0.0,NaN,NaN,520.0,8579.0
2015-01-01 05:00:00,4305.0,13875.0,1746.0,NaN,NaN,10815.0,NaN,NaN,4952.0,596.0,2562.0,0.0,NaN,NaN,516.0,8865.0
2015-01-01 05:15:00,4309.0,13633.0,1748.0,NaN,NaN,10735.0,NaN,NaN,4911.0,618.0,2554.0,0.0,NaN,NaN,521.0,8812.0
2015-01-01 05:30:00,4301.0,13410.0,1745.0,NaN,NaN,10670.0,NaN,NaN,4982.0,643.0,2552.0,0.0,NaN,NaN,521.0,8747.0
2015-01-01 05:45:00,4301.0,13120.0,1775.0,NaN,NaN,10564.0,NaN,NaN,4987.0,660.0,2551.0,0.0,NaN,NaN,522.0,8678.0
2015-01-01 06:00:00,4291.0,12655.0,1830.0,NaN,NaN,10525.0,NaN,NaN,5111.0,624.0,2550.0,0.0,NaN,NaN,522.0,8798.0
2015-01-01 06:15:00,4281.0,12503.0,1920.0,NaN,NaN,10421.0,NaN,NaN,5107.0,642.0,2547.0,0.0,NaN,NaN,522.0,9022.0
2015-01-01 06:30:00,4292.0,12340.0,1925.0,NaN,NaN,10247.0,NaN,NaN,5137.0,677.0,2544.0,0.0,NaN,NaN,521.0,9468.0
2015-01-01 06:45:00,4291.0,12250.0,1924.0,NaN,NaN,10005.0,NaN,NaN,5259.0,721.0,2537.0,0.0,NaN,NaN,521.0,9716.0
2015-01-01 07:00:00,4287.0,12134.0,2031.0,NaN,NaN,9879.0,NaN,NaN,5302.0,594.0,2563.0,0.0,NaN,NaN,520.0,9745.0
2015-01-01 07:15:00,4285.0,12073.0,2029.0,NaN,NaN,9948.0,NaN,NaN,5270.0,608.0,2600.0,0.0,NaN,NaN,520.0,9883.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08-30 16:30:00,NaN,NaN,NaN,NaN,NaN,NaN,1234.0,6830.0,NaN,NaN,NaN,NaN,13182.0,21246.0,NaN,NaN
2017-08-30 16:45:00,NaN,NaN,NaN,NaN,NaN,NaN,1258.0,6892.0,NaN,NaN,NaN,NaN,11961.0,20111.0,NaN,NaN
2017-08-30 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1288.0,6964.0,NaN,NaN,NaN,NaN,10666.0,18918.0,NaN,NaN
2017-08-30 17:15:00,NaN,NaN,NaN,NaN,NaN,NaN,1308.0,7036.0,NaN,NaN,NaN,NaN,9320.0,17664.0,NaN,NaN
2017-08-30 17:30:00,NaN,NaN,NaN,NaN,NaN,NaN,1333.0,7108.0,NaN,NaN,NaN,NaN,7955.0,16396.0,NaN,NaN
2017-08-30 17:45:00,NaN,NaN,NaN,NaN,NaN,NaN,1353.0,7199.0,NaN,NaN,NaN,NaN,6601.0,15153.0,NaN,NaN
2017-08-30 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1382.0,7316.0,NaN,NaN,NaN,NaN,5325.0,14023.0,NaN,NaN
2017-08-30 18:15:00,NaN,NaN,NaN,NaN,NaN,NaN,1414.0,7492.0,NaN,NaN,NaN,NaN,4159.0,13065.0,NaN,NaN
2017-08-30 18:30:00,NaN,NaN,NaN,NaN,NaN,NaN,1439.0,7681.0,NaN,NaN,NaN,NaN,3084.0,12204.0,NaN,NaN
2017-08-30 18:45:00,NaN,NaN,NaN,NaN,NaN,NaN,1467.0,7898.0,NaN,NaN,NaN,NaN,2117.0,11482.0,NaN,NaN
2017-08-30 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1497.0,8122.0,NaN,NaN,NaN,NaN,1309.0,10928.0,NaN,NaN
2017-08-30 19:15:00,NaN,NaN,NaN,NaN,NaN,NaN,1526.0,8366.0,NaN,NaN,NaN,NaN,781.0,10673.0,NaN,NaN
2017-08-30 19:30:00,NaN,NaN,NaN,NaN,NaN,NaN,1554.0,8596.0,NaN,NaN,NaN,NaN,433.0,10583.0,NaN,NaN
2017-08-30 19:45:00,NaN,NaN,NaN,NaN,NaN,NaN,1580.0,8804.0,NaN,NaN,NaN,NaN,171.0,10555.0,NaN,NaN
2017-08-30 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1607.0,8985.0,NaN,NaN,NaN,NaN,44.0,10636.0,NaN,NaN
2017-08-30 20:15:00,NaN,NaN,NaN,NaN,NaN,NaN,1624.0,9110.0,NaN,NaN,NaN,NaN,15.0,10749.0,NaN,NaN
2017-08-30 20:30:00,NaN,NaN,NaN,NaN,NaN,NaN,1642.0,9251.0,NaN,NaN,NaN,NaN,8.0,10901.0,NaN,NaN
2017-08-30 20:45:00,NaN,NaN,NaN,NaN,NaN,NaN,1662.0,9399.0,NaN,NaN,NaN,NaN,2.0,11063.0,NaN,NaN
2017-08-30 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1674.0,9536.0,NaN,NaN,NaN,NaN,0.0,11210.0,NaN,NaN
2017-08-30 21:15:00,NaN,NaN,NaN,NaN,NaN,NaN,1694.0,9580.0,NaN,NaN,NaN,NaN,0.0,11274.0,NaN,NaN
2017-08-30 21:30:00,NaN,NaN,NaN,NaN,NaN,NaN,1715.0,9619.0,NaN,NaN,NaN,NaN,0.0,11334.0,NaN,NaN
2017-08-30 21:45:00,NaN,NaN,NaN,NaN,NaN,NaN,1734.0,9650.0,NaN,NaN,NaN,NaN,0.0,11384.0,NaN,NaN
2017-08-30 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1757.0,9661.0,NaN,NaN,NaN,NaN,0.0,11418.0,NaN,NaN
2017-08-30 22:15:00,NaN,NaN,NaN,NaN,NaN,NaN,1757.0,9649.0,NaN,NaN,NaN,NaN,0.0,11406.0,NaN,NaN
2017-08-30 22:30:00,NaN,NaN,NaN,NaN,NaN,NaN,1756.0,9641.0,NaN,NaN,NaN,NaN,0.0,11397.0,NaN,NaN
2017-08-30 22:45:00,NaN,NaN,NaN,NaN,NaN,NaN,1756.0,9628.0,NaN,NaN,NaN,NaN,0.0,11384.0,NaN,NaN
2017-08-30 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1755.0,9588.0,NaN,NaN,NaN,NaN,0.0,11343.0,NaN,NaN
2017-08-30 23:15:00,NaN,NaN,NaN,NaN,NaN,NaN,1743.0,9464.0,NaN,NaN,NaN,NaN,0.0,11207.0,NaN,NaN
2017-08-30 23:30:00,NaN,NaN,NaN,NaN,NaN,NaN,1734.0,9335.0,NaN,NaN,NaN,NaN,0.0,11069.0,NaN,NaN
2017-08-30 23:45:00,NaN,NaN,NaN,NaN,NaN,NaN,1724.0,9207.0,NaN,NaN,NaN,NaN,0.0,10931.0,NaN,NaN

In [49]:
data.resample('1H', convention='end').mean()

,biomass,brown_coal,hard_coal,load_forecast,load_true,nuclear,offshore_forecast,onshore_forecast,other,pumped_hydro,river_hydro,solar,solar_forecast,sum_forecast,wind_offshore,wind_onshore
2015-01-01 00:00:00,4302.00,15736.00,2782.75,48589.00,49306.25,10710.50,599.25,7634.25,4853.00,544.00,2669.75,0.00,0.00,8233.50,516.50,8193.25
2015-01-01 01:00:00,4261.00,15364.75,1929.75,47032.25,46952.50,11086.25,598.25,8161.75,4743.50,409.50,2617.00,0.00,0.00,8760.00,516.25,8367.50
2015-01-01 02:00:00,4295.50,14852.75,1824.00,45619.00,45751.50,11026.25,599.50,8324.75,4836.50,632.75,2578.75,0.00,0.00,8924.25,514.00,8604.00
2015-01-01 03:00:00,4313.75,14111.00,1959.00,44253.75,45306.25,11027.75,603.75,8440.25,4840.25,558.25,2545.25,0.00,0.00,9044.00,517.75,8617.00
2015-01-01 04:00:00,4308.50,14149.00,2012.25,43765.50,45423.00,10962.25,605.25,8621.25,4820.75,602.75,2557.75,0.00,0.00,9226.50,519.75,8707.50
2015-01-01 05:00:00,4304.00,13509.50,1753.50,43589.50,45701.50,10696.00,611.25,8825.75,4958.00,629.25,2554.75,0.00,0.00,9437.00,520.00,8775.50
2015-01-01 06:00:00,4288.75,12437.00,1899.75,43795.25,44075.75,10299.50,613.50,9088.25,5153.50,666.00,2544.50,0.00,0.00,9701.75,521.50,9251.00
2015-01-01 07:00:00,4281.25,12096.75,2016.50,45376.00,47503.50,10035.25,615.25,9480.00,5283.25,635.00,2597.75,0.00,0.00,10095.25,520.25,9942.25
2015-01-01 08:00:00,4281.75,12437.50,2031.25,46536.25,49866.25,10245.75,617.75,9913.75,5674.25,701.50,2615.50,54.75,53.75,10585.25,525.25,9792.50
2015-01-01 09:00:00,4299.50,12830.50,1879.75,48799.50,52540.25,10060.25,620.25,10273.75,6190.75,674.25,2647.00,782.75,668.50,11562.50,527.00,9647.75
2015-01-01 10:00:00,4300.75,12761.00,2045.25,51134.75,54850.25,10082.25,623.25,10576.25,6472.75,489.50,2638.25,2138.25,1740.25,12939.75,525.00,10170.75
2015-01-01 11:00:00,4306.25,12484.50,2197.50,53663.50,57475.00,9949.00,624.50,10764.75,6341.75,236.50,2668.25,3396.25,2634.50,14023.75,527.25,11020.25
2015-01-01 12:00:00,4306.75,12498.25,2547.50,55048.75,57693.25,10119.00,629.25,10881.50,6155.75,78.25,2669.50,4234.75,3019.50,14530.25,527.75,11761.50
2015-01-01 13:00:00,4300.75,12451.00,2461.50,54036.75,55232.75,10453.50,628.00,11059.50,6070.50,179.50,2653.00,3535.50,2770.25,14457.75,527.75,12220.75
2015-01-01 14:00:00,4300.75,12653.50,2306.00,53002.75,54719.50,10828.25,629.25,11243.00,6086.00,430.25,2646.25,2306.00,1924.00,13796.25,524.75,11694.75
2015-01-01 15:00:00,4281.75,13418.50,2086.50,53235.25,54937.00,11069.75,628.00,11685.75,6193.75,1026.00,2646.00,759.25,748.75,13062.50,524.50,11653.25
2015-01-01 16:00:00,4276.50,14715.25,2217.25,55186.00,56718.50,11006.50,629.75,12265.75,6109.25,759.00,2763.50,52.75,96.50,12992.00,524.50,13404.00
2015-01-01 17:00:00,4265.75,15004.25,2429.50,58764.75,60389.00,11057.50,630.50,12909.50,5800.25,1837.25,2882.00,0.00,0.00,13540.00,524.50,15221.00
2015-01-01 18:00:00,4264.00,14328.50,2066.00,58344.25,61435.25,10930.25,629.75,13683.50,6081.75,1713.00,2926.75,0.00,0.00,14313.25,524.00,16548.50
2015-01-01 19:00:00,4258.75,13534.75,1754.25,57272.00,60430.75,10861.75,631.00,14622.50,6290.75,989.00,2897.00,0.00,0.00,15253.50,523.50,17706.50
2015-01-01 20:00:00,4253.25,12401.00,1968.25,54123.00,57568.75,10343.00,629.50,15853.25,6257.50,563.75,2893.50,0.00,0.00,16482.75,522.25,18909.25
2015-01-01 21:00:00,4234.25,11317.00,1948.50,51796.00,55394.75,9840.00,629.50,17179.25,6447.75,71.50,2799.50,0.00,0.00,17808.75,521.00,19969.50
2015-01-01 22:00:00,4245.00,10460.50,1857.00,56015.25,55242.50,9749.00,625.25,18554.50,6339.00,581.00,2611.00,0.00,0.00,19179.75,519.50,20808.00
2015-01-01 23:00:00,4241.25,9869.75,1697.50,52749.75,52134.25,9045.75,620.00,19848.25,6141.75,299.00,2549.75,0.00,0.00,20468.25,494.00,21691.75
2015-01-02 00:00:00,4236.75,9050.00,1577.25,49177.50,46958.50,8164.75,623.00,22169.50,5786.75,978.75,2521.00,0.00,0.00,22792.50,305.00,22272.75
2015-01-02 01:00:00,4226.00,9026.50,1320.50,47176.00,45447.50,7147.75,614.25,23788.00,6120.00,1407.00,2501.25,0.00,0.00,24402.25,276.50,23236.75
2015-01-02 02:00:00,4229.25,9032.75,1104.50,46155.00,44504.50,6675.75,618.00,24633.50,5479.25,2466.25,2504.75,0.00,0.00,25251.50,282.00,24092.25
2015-01-02 03:00:00,4234.25,8779.50,1030.50,45582.75,44500.00,6466.75,624.75,25361.75,5361.75,2542.25,2499.50,0.00,0.00,25986.50,324.75,24903.75
2015-01-02 04:00:00,4221.75,8405.75,1385.25,46457.25,45682.25,6304.00,582.50,26058.50,5516.50,1819.25,2498.75,0.00,0.00,26641.00,335.00,25610.50
2015-01-02 05:00:00,4222.25,8602.25,1527.50,48881.25,47670.50,6760.00,596.50,26598.50,5769.75,1260.00,2478.25,0.00,0.00,27195.00,388.25,26020.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08-29 18:00:00,4365.75,16116.50,10476.50,68053.50,67548.75,10016.00,655.00,1865.25,4516.00,3994.75,5120.00,4705.25,5102.75,7623.00,716.75,1421.00
2017-08-29 19:00:00,4377.50,16116.25,10422.00,67060.75,66724.75,10020.25,548.75,1912.00,4661.25,4692.25,5062.75,750.25,975.25,3436.00,590.75,1247.25
2017-08-29 20:00:00,4373.75,16100.00,10395.00,66588.75,65153.00,10021.25,480.00,2356.50,4795.25,6442.00,5003.25,5.50,34.50,2871.00,457.25,2019.50
2017-08-29 21:00:00,4361.50,16128.75,10278.00,63452.75,62271.00,10036.25,408.50,3136.50,4579.75,3920.50,5049.50,0.00,0.00,3545.00,523.00,3239.75
2017-08-29 22:00:00,4372.75,16150.75,9649.50,58245.50,57803.50,10037.75,363.25,4003.50,4531.25,1951.75,4955.50,0.00,0.00,4366.75,541.50,4386.75
2017-08-29 23:00:00,4389.00,16197.25,8534.00,53691.75,52982.25,10043.50,335.00,4845.25,4127.25,318.00,4913.00,0.00,0.00,5180.25,320.75,5515.00
2017-08-30 00:00:00,4367.25,16184.00,7635.50,50866.00,49885.50,10041.75,280.50,5414.00,3612.00,9.00,4694.25,0.00,0.00,5694.50,207.25,6270.50
2017-08-30 01:00:00,4369.00,16248.75,6772.25,49268.25,47759.25,10047.50,209.00,5728.00,3688.00,5.00,4967.25,0.00,0.00,5937.00,233.25,6802.50
2017-08-30 02:00:00,4357.50,16261.75,5961.00,48378.00,46746.50,10059.75,216.75,6420.00,3759.50,3.75,4855.25,0.00,0.00,6636.75,193.00,7055.50
2017-08-30 03:00:00,4355.75,16340.00,5696.50,47990.75,46629.00,10074.00,219.25,6444.25,3466.50,1.25,4808.50,0.00,0.00,6663.50,142.00,7157.00
2017-08-30 04:00:00,4349.00,16362.25,5768.00,49250.25,47738.75,10086.00,225.00,6300.25,3449.00,1.25,4747.00,0.00,0.00,6525.25,189.00,6898.75
2017-08-30 05:00:00,4356.50,16404.50,7925.25,53160.75,51518.50,10095.25,255.50,6337.50,3685.75,1.25,4897.50,0.00,0.00,6593.00,230.50,6395.50
2017-08-30 06:00:00,4381.75,16406.25,9408.00,61043.50,59404.00,10119.00,296.25,6404.25,4449.50,782.00,5150.00,140.25,147.00,6847.50,210.25,6512.00
2017-08-30 07:00:00,4391.50,16418.00,9878.50,67210.50,65694.75,10123.25,338.50,6246.50,4643.00,3062.75,5358.25,2455.75,2255.75,8840.75,263.25,6779.75
2017-08-30 08:00:00,4405.00,16484.00,9957.00,71114.00,69143.25,10120.25,398.50,5556.00,4195.75,4985.25,5286.50,7313.00,7194.00,13148.50,294.50,6016.75
2017-08-30 09:00:00,4350.25,16609.75,9950.75,73095.25,70656.25,10100.75,460.00,4615.50,4325.00,5095.75,5105.25,12901.75,13007.25,18082.75,448.50,4361.00
2017-08-30 10:00:00,4343.00,16646.00,9736.25,75178.00,72307.25,10055.50,569.50,4709.25,4626.00,3703.75,5108.75,17174.00,17919.00,23197.75,591.00,3802.50
2017-08-30 11:00:00,4339.75,16643.50,9803.50,76676.50,73665.50,9705.75,660.00,4959.25,4697.50,2335.00,5187.00,19575.25,21214.75,26834.00,991.00,4527.75
2017-08-30 12:00:00,4332.25,16651.50,9612.75,75871.25,73430.75,9715.25,747.00,5431.25,4728.25,553.25,5145.00,20573.00,22737.00,28915.25,1001.50,5780.75
2017-08-30 13:00:00,4326.75,16653.25,9372.00,76258.50,72621.00,9793.25,859.00,5962.75,4676.25,356.00,5108.25,20760.50,22520.00,29341.75,1161.25,6878.50
2017-08-30 14:00:00,4333.75,16615.50,9386.00,74898.50,71128.50,9789.00,990.50,6397.00,4687.25,632.75,5138.25,18998.00,20883.50,28271.00,1354.25,7548.75
2017-08-30 15:00:00,4353.00,16550.50,9673.50,73271.50,70194.00,9868.00,1107.00,6620.00,4899.25,941.75,5230.50,15961.75,17863.00,25590.00,1554.25,7316.00
2017-08-30 16:00:00,4362.25,16404.25,10068.25,71655.75,68538.25,9882.25,1217.50,6809.00,4676.00,1799.50,5177.75,12100.50,13745.75,21772.25,1826.00,6935.25
2017-08-30 17:00:00,4350.25,16384.00,10492.25,70700.50,67443.75,9894.00,1320.50,7076.75,4398.75,2453.00,5161.75,7184.00,8635.50,17032.75,2088.00,7042.50
2017-08-30 18:00:00,4336.75,16383.75,10640.00,69497.25,66813.50,9896.00,1425.50,7596.75,4484.25,2826.00,5193.25,2852.75,3671.25,12693.50,2429.00,7389.75
2017-08-30 19:00:00,4332.25,16331.50,10682.50,68099.25,66379.25,9908.00,1539.25,8472.00,4532.75,2680.00,5190.00,453.50,673.50,10684.75,2532.50,8145.50
2017-08-30 20:00:00,4332.25,16331.00,10709.75,67075.00,65259.25,9922.50,1633.75,9186.25,3985.75,1992.75,5227.25,7.25,17.25,10837.25,2793.75,9764.50
2017-08-30 21:00:00,4337.25,16197.75,10464.50,63425.00,62160.75,9934.25,1704.25,9596.25,3876.50,551.75,5039.25,0.00,0.00,11300.50,2610.00,11008.00
2017-08-30 22:00:00,4337.25,16030.75,8799.75,59073.00,58310.50,9966.50,1756.50,9644.75,4060.00,138.75,4694.25,0.00,0.00,11401.25,2660.50,11176.75
2017-08-30 23:00:00,4336.50,16182.50,7171.50,54425.50,53632.75,9977.00,1739.00,9398.50,4319.00,0.25,4631.50,0.00,0.00,11137.50,2769.00,10802.00

In [44]:
pd.DataFrame.mean?